@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 221 50% 5%;
    --foreground: 221 5% 90%;
    --card: 221 50% 3%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 23% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 30% 15%;
    --muted-foreground: 221 5% 60%;
    --accent: 183 30% 15%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 18%;
    --input: 221 30% 18%;
    --ring: 221 23% 23%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
